.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.cursor {
    cursor: pointer;
}

.w-full {
    width: 100%;
}